[Unit]  
Description=Juju Introspection agent  
  
[Service]  
Type=simple  
User=root  
Group=root  
  
ExecStart=/usr/bin/juju-introspect --listen=127.0.0.1:6000
  
Restart=on-failure  
RestartSec=10  
  
StandardOutput=syslog  
StandardError=syslog  
SyslogIdentifier=juju-introspect  
  
[Install]  
WantedBy=multi-user.target
