[Unit]  
Description=Parca service  
Requires=network-online.target  
After=network-online.target  
  
[Service]  
User=parca  
Group=parca  
Restart=on-failure  
RestartSec=10  
ExecStart=/usr/bin/parca {{ storage_config }} --config-path=/etc/parca/parca.yaml  
ExecReload=/bin/kill -HUP $MAINPID  
LimitNOFILE=65535  
NoNewPrivileges=true  
ProtectHome=true  
ProtectSystem=full  
ProtectHostname=true  
ProtectControlGroups=true  
ProtectKernelModules=true  
ProtectKernelTunables=true  
LockPersonality=true  
RestrictRealtime=yes  
RestrictNamespaces=yes  
MemoryDenyWriteExecute=yes  
PrivateDevices=yes  
StandardOutput=syslog  
StandardError=syslog  
SyslogIdentifier=parca  
  
[Install]  
WantedBy=multi-user.target
